<section class="centered">
	<h1 class='theH1'>About Us</h1>
	<br><br>
	<div class='holder'>
	<ul class='theUl'>
	<div class='row' id='allPhotos'>
	    <div class='col-sm-4'>
	        <li class='theLi'>
	            <h3 class='theH3'>Tyler Shockey<br>
	                <img class='profile' src='images/tyler.png'><br>
	                Tyler is the fearless leader, he helped pull us up by our bootstrap CDN's when we were feelingdown.<br>
	                <a href='https://github.com/shockeyt'>Tyler's Github</a>
	            </h3>
	        </li>
	    </div>
	    <div class='col-sm-4'>
	        <li class='theLi'>
	            <h3 class='theH3'>Bob Schank<br>
	                <img class='profile' src='images/bob.png'><br>
	                This is Bob. He really loves SQL and fishing<br>
	                <a href='https://github.com/bobbyschank'>Bob's Github</a>
	            </h3>
	        </li>
	    </div>
	    <div class='col-sm-4'>
	        <li class='theLi'>
	            <h3 class='theH3'>Alex Crangghton<br>
	                <img class='profile' src='images/alex.jpg'><br>
	                This is Alex, he writes great comments.<br>
	                <a href='https://github.com/alexandroidd'>Alex's Github</a>
	            </h3>
	        </li>
	    </div>
	</ul>
	</div>
</section>