<h1>HOME Page</h1>
<hr>
<p ng-if="home.posts.length === 0">No posts yet.</p>

<div ng-if="home.posts.length > 0">
	<div ng-repeat="post in home.posts">
		<p><strong>{{post.title}}</strong> - {{post.content}}</p><br>
	</div>
</div>

<div ng-show="main.currentUser()">
	<h3>Current User is:</h3>
	{{main.currentUser().displayName}}
	<br>
</div>
<section ng-controller="LocaController as locaController">
	<div ng-repeat="location in locaController.locasList">
	  <loca
			location="location"
	  ></loca>
	</div>	
</section>
