<section>
	<div class="card">
	<div class="card-header row" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapseExample">
	<h4 class="">{{location.id}}{{location.current.city_state}} {{location.current.elevation}} <span class="pull-right">{{location.current.temp}}</span><img class="pull-right" src="{{location.current.icon}}"></h4>
		</div>
		<div class="collapse" id="collapse">
		  <div class="card card-block">
		  	<ul>
		  		<li>Feels Like: {{location.current.feels_like}}</li>
		  		<li>Current Temp: {{location.current.temp}}</li>
		  		<li>Pressure: {{location.current.pressure}}</li>
		  		<li>Pressure Trend: {{location.current.pressure_trend}}</li>
		  		<li>Currently: {{location.current.weather}}</li>
		  		<li>Current Wind Direction: {{location.current.wind_dir}}</li>
		  		<li>Current Wind MPH: {{location.current.wind_mph}}</li>
		  	</ul>
		  </div>
<!-- <canvas id="myChart" width="200" height="200"></canvas> -->

		</div>

		<canvas id="myChart" class="chart"></canvas>

	</div>

	</div>
</section>